html.swal2-shown,
body.swal2-shown {
  overflow-y: scroll !important;
}
select {
    -webkit-appearance: auto!important;
    -moz-appearance: auto!important;
    appearance: auto!important;
}
pre {
    font-size: .85rem;
}
body {
    background-color: rgb(201, 201, 201);
    font-size: 14px;
}
.table td {
    /* background-color: #d6d6d6; */
    background-color: #00000000;
}
.table.create-product tbody tr td:nth-child(1){
    width: 15%!important;
    vertical-align: middle; 
    /* text-align: right; */
}
.form-control{
    /* background-color: #ffffff00; */
    background-color: rgba(255, 255, 255, 0);
    border: var(--bs-border-width) solid #a7a7a7;
}
#form_skus_body > .row:nth-child(2n+1) {
    background: #b9b9b9;
    border: var(--bs-border-width) solid #a7a7a7;
}
#form_skus_body > .row:nth-child(2n+1) .form-control{
    border: var(--bs-border-width) solid #ffffff9c;
}
#form_skus_body > .row:nth-child(2n) {
    background: #dfdfdf;
}
#form_skus_body > .row:nth-child(2n) .form-control{
    border: var(--bs-border-width) solid #8d8d8d;
}
label {
    font-weight: 600;
    font-size: 13px;
}
#FormCreate {
    overflow-y: scroll;
    max-height:870px;
    border: 1px solid #7e7e7e; 
}
#bodyCreateProduct,
#respnseCreateProduct {
    min-height:400px; 
    max-height: 380px; 
    border: 1px solid #7e7e7e; 
    overflow-y: scroll;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #767777;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a6c6c;
}

/** Box upload image **/
.box-preview-image {
    display: grid;
    grid-gap: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding: 10px 5px 8px 5px;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}

.box-preview-image .inner {
    position: relative;
    height: 170px;
}
.box-preview-image .inner.select {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-preview-image .inner.select button {
    background-color: #FFF;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
    transition: .3s;
    border-radius: 6px;
    padding: 2rem;
}
.box-preview-image .inner.select button:hover {
    background-color: #c4c4c4;
}
.box-preview-image .inner.select button:active {
    box-shadow: inset 0 0 10px #a0a0a0;
    border: 1px solid transparent;
}
.box-preview-image .inner.item button:focus, .box-preview-image .inner.select button:focus {
    outline: 0;
}
.box-preview-image .inner.select button img {
    width: 100%;
}
.box-preview-image .inner.item img,
.box-preview-image .inner.item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-preview-image .inner.item button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(253, 0, 0, .5);
    cursor: pointer;
}
.box-preview-image .inner.item button:hover {
    background-color: red;
}
.box-preview-image .inner.item button span {
    display: block;
    background-color: #fff;
    width: 13px;
    height: 3px;
}
.box-preview-image .inner.item .warning {
    position: absolute;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    top:0;
    left:0
}
.box-preview-image .inner.item .warning span {
    background: #f5b00dcf;
    border-radius: 4px;
    padding: 0 5px;
    font-weight: 500;
}
.box-preview-image .inner.item.image-invalid .warning{
    opacity:1!important;
    visibility: visible!important;
}
.box-preview-image [type="file"] {
    display: none;
}
@media(min-width: 768px) {
    .box-preview-image{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 1024px){
    .box-preview-image{
        grid-template-columns: repeat(5, 1fr);
    }
    .box-preview-image .inner {
        position: relative;
        height: 150px;
    }
}

@media(min-width: 1366px){
    .box-preview-image{
        grid-template-columns: repeat(7, 1fr);
    }
}

/* .box-image {
    display: flex;
}
.box-image .item {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
    margin-left: 10px;
    background-position: center center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg');
    background-size: 100%;
    cursor: pointer;
    transition: .3s;
}
.box-image .item:hover{
    border: 2px solid #585859;
    transition: .3s;
} */